// colors

$primary-color: #EE3226;

$gray-black: #1A1A1A;
$gray-dark: #333333;
$gray-medium: #999999;
$gray-light: #F7F7F7;
$white: white;

// media queries

$desktop-huge: 1920px;
$desktop-big: 1600px;
$desktop-intermediate: 1400px;
$desktop: 1200px;
$desktop-small: 960px;
$tablet: 768px;
$phone-big: 640px;
$phone: 480px;

// fonts

$sans: 'Muli', Helvetica, Arial, sans-serif;
$serif: Times New Roman, Times, serif;