.mason {
    margin-left: -10px;
    .grid-sizer,
    .grid-item {
        width: 100%;
        @include phone-big {
            width: 50%;
        }
        @include tablet {
            width: 33.33%;
        }
    }
    .grid-item {
        &-big {
            @include tablet {
                width: 66.66%;
            }
        }
    }
}