.ovh {
	overflow: hidden;
}

.show {
	display: block !important;
}

.hide {
	display: none;
}

.table {
	display: table;
	height: 100%;
	width: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.center {
	text-align: center;
}

.ovh {
	overflow: hidden;
}