.aligncenter,
.alignleft,
.alignright {
    display: block;
    padding: 0;
    max-width: 100%;
    @include phone-big {
        max-width: 50%;
    }
    @include desktop-small {
        max-width: 40%;
    }
}

.aligncenter {
    float: none;
    margin: .5em auto 1em;
}

.alignright {
    float: right;
    margin: .5em 0 1em 2em;
}

.alignleft {
    float: left;
    margin: .5em 2em 1em 0;
}